<h1>Borrows</h1>

<ul>
  <% @borrows.each do |borrow| %>
    <li>
      <%= borrow.user.email %> /
      <%= borrow.book.title %> /
      <%= borrow.state %> /
      <% cas = borrow.created_at %> 
      <%= cas %>
      <% if borrow.state == "borrowed" && current_user.email == borrow.user.email %>
      /
        <%= form_tag "/borrows/#{borrow.id}", method: :post do %>
          <%= submit_tag 'Return' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

Current Credit: <%= current_user.Debt.to_s[1..-1] %> 
<%= form_tag "/borrows/give/change", method: :post do %>
  <%= submit_tag 'Give 100 Credit' %>
<% end %>
